.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 1rem;

  list-style: none;

  li {
    display: flex;
    align-items: center;

    user-select: none;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
    background: var(--background-light);

    span {
      display: flex;
      
      width: 20px;
      height: 20px;
      border-radius: 0.25rem;
      background: transparent;
      border: 1px solid var(--secondary);

      margin-right: 1rem;

      &::before {
        content: '';
        visibility: hidden;
        margin: 5px auto 0;
        width: 10px;
        height: 4px;
        transform: rotate(-45deg);
        border-left: 2px solid var(--background);
        border-bottom: 2px solid var(--background);
      }

      &:hover {
        cursor: pointer;
      }
    }

    &.active {
      text-decoration: line-through;

      span {
        background: var(--secondary);

        &::before {
          visibility: visible;
        }
      }
    }

  }
}